<div class="dashboard-widget">
    {% if widget.title %}
        <div class="dashboard-widget-title">
            {{ widget.title }}
        </div>
    {% endif %}

    {% set ajax = widget.route and widget.ajax %}

    <div class="dashboard-widget-content{% if ajax %} dashboard-widget-ajax{% endif %}"{% if ajax %} data-url="{{ path(widget.route, widget.params) }}"{% endif %}>
        {% if widget.route and not widget.ajax %}
            {% render path(widget.route, widget.params) %}
        {% elseif widget.template %}
            {% include widget.template with widget %}
        {% elseif widget.controller %}
            {% render widget.controller with widget.params %}
        {% endif %}
    </div>
</div>