<div class="dashboard-widget">
    {% if widget.title %}
        <div class="dashboard-widget-title">
            {{ widget.title }}
        </div>
    {% endif %}

    {% set ajax = 'ajax' == widget.include_type %}

    <div class="dashboard-widget-content{% if ajax %} dashboard-widget-ajax{% endif %}"{% if ajax %} data-url="{{ path(widget.content, widget.params) }}"{% endif %}>
        {% if not ajax %}
            {% if 'template' == widget.content_type %}
                {% include widget.content with widget %}
            {% elseif 'controller' == widget.content_type %}
                {% render widget.content with widget.params %}
            {% elseif 'route' == widget.content_type %}
                {% set url = url(widget.content, widget.params) %}
                {% if 'hinclude' == widget.include_type %}
                    {% render url with {}, { 'standalone': 'js' } %}
                {% elseif 'esi' == widget.include_type %}
                    {% render url with {}, { 'standalone': true } %}
                {% else %}
                    {% render url %}
                {% endif %}
            {% endif %}
        {% endif %}
    </div>
</div>