<div class="panel panel-primary">
    {% if widget.title %}
        <div class="panel-heading">
            {{ widget.title }}
        </div>
    {% endif %}

    {% set ajax = 'ajax' == widget.include_type %}

    <div class="panel-body{% if ajax %} dashboard-widget-ajax{% endif %}"{% if ajax %} data-url="{{ path(widget.content, widget.params) }}"{% endif %}>
        {% if not ajax %}
            {% block widget_content %}
                {% include dashboard.fullTemplateName('_widget_inner.html.twig') with { 'widget': widget } %}
            {% endblock %}
        {% endif %}
    </div>
</div>